<figure tabindex="1" ng-keyup="$ctrl.figureKeyUpped($event)" ng-blur="$ctrl.blurred($event)">
    <div class="cell-repeat" ng-repeat="cell in $ctrl.model.cells">
        <div class="cell-container" ng-class="{active: $index === $ctrl.model.activeCellIndex}" ng-click="$ctrl.cellContainerClicked($event, $index)">
            <xh-cell model="cell"></xh-cell>
        </div>
    </div>
</figure>
<div class="possibles" ng-show="$ctrl.possibles.length > 0">
    <ul>
        <li ng-repeat="word in $ctrl.possibles">{{word}}</li>
    </ul>
</div>