body {
    font-family: Helvetica, Arial, Sans-Serif;
}

xh-playground {
    display: block;
}

xh-playground figure {
    display: inline-block;
    padding-bottom: 20px;
}

xh-playground figure:focus {
    outline: none;
}

xh-playground .cell-fixture {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 60px;
}

xh-playground .cell-fixture.potential {
    top: 3px;
}

xh-playground .cell-fixture.after {
    left: -3px;
}

xh-playground .cell-fixture.before {
    right: -4px;
}

xh-playground .possibles {
    max-height: 400px;
    overflow-y: auto;
    border: 1px silver solid;
}

xh-playground .possibles ul {
    list-style-type: none;
    padding: 0 10px;
    margin-top: 10px;
}

xh-playground .possibles ul > li {
    float: left;
    margin: 5px;
}

xh-playground .potential button {
    border-width: 1px;
    border-style: dashed;
    border-color: lightgray;
    background-color: transparent;
    width: 42px;
    height: 42px;
    cursor: pointer;
    position: absolute;
    top: 0;
    color: transparent;
    font-size: 20pt;
}

xh-playground .potential button:disabled {
    cursor: default;
}

xh-playground .potential button:hover {
    color: lightgray;
}

xh-playground .potential button:focus {
    outline: none;
}

xh-cell {
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
}

/* https://stackoverflow.com/questions/23515754/how-to-remove-the-blinking-cursor-from-an-input-type-textbox */

xh-cell input.letter {
    width: 100%;
    height: 40px;    
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    color: transparent;
    display: inline-block;
    font-size: 2em;
    text-shadow: 0 0 0 black;
    text-transform: uppercase;
    text-align: center;
    padding: 0;
}

xh-cell input.letter:focus {
    outline: none;
    background-color: pink;
}

xh-cell .controls {
    height: 20px;
    text-align: center;
}

xh-cell .controls button {
    visibility: hidden;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    padding: 2px 4px;
    margin: 0;
    background-color: transparent;
    color: lightgray;
    border-radius: 4px;
}

xh-cell .controls button:hover {
    border-color: lightgray;
}

/* this doesn't work but it's important for mobile; we'd like to 
   make the remove button visible whenever an input has focus */
xh-cell input.letter:focused+.controls button {
    visibility: visible;
}

.cell-fixture:hover xh-cell .controls button {
    visibility: visible;
}

footer {
    margin-top: 15px;
    border-top: 1px solid gray;
    padding-top: 15px;
}

footer table td {
    vertical-align: middle;
}

footer a.gh-link img {
    width: 16px;
    height: 16px;
}

img.loading-squares {
    width: 43px;
    height: 11px;
}